/* noto-serif-georgian-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Serif Georgian';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-serif-georgian-v23-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/noto-serif-georgian-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-serif-georgian-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-serif-georgian-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-serif-georgian-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-serif-georgian-v23-latin-regular.svg#NotoSerifGeorgian') format('svg'); /* Legacy iOS */
  }
  /* noto-serif-georgian-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Serif Georgian';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/noto-serif-georgian-v23-latin-500.eot'); /* IE9 Compat Modes */
    src: url('../fonts/noto-serif-georgian-v23-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-serif-georgian-v23-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-serif-georgian-v23-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-serif-georgian-v23-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-serif-georgian-v23-latin-500.svg#NotoSerifGeorgian') format('svg'); /* Legacy iOS */
  }
  /* noto-serif-georgian-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Serif Georgian';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/noto-serif-georgian-v23-latisn-600.eot'); /* IE9 Compat Modes */
    src: url('../fonts/noto-serif-georgian-v23-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-serif-georgian-v23-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-serif-georgian-v23-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-serif-georgian-v23-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-serif-georgian-v23-latin-600.svg#NotoSerifGeorgian') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-georgian-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans Georgian';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-sans-georgian-v36-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/noto-sans-georgian-v36-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-georgian-v36-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-georgian-v36-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-georgian-v36-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-georgian-v36-latin-regular.svg#NotoSansGeorgian') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-georgian-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans Georgian';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/noto-sans-georgian-v36-latin-500.eot'); /* IE9 Compat Modes */
    src: url('../fonts/noto-sans-georgian-v36-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-georgian-v36-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-georgian-v36-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-georgian-v36-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-georgian-v36-latin-500.svg#NotoSansGeorgian') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-georgian-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans Georgian';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/noto-sans-georgian-v36-latin-600.eot'); /* IE9 Compat Modes */
    src: url('../fonts/noto-sans-georgian-v36-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-georgian-v36-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-georgian-v36-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-georgian-v36-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-georgian-v36-latin-600.svg#NotoSansGeorgian') format('svg'); /* Legacy iOS */
  }

:root {
    --color-white: #FFFFFF;
    --color-white-light: #F6F6F6;
    --color-white-hover: #FAFAFA;
    --color-gray: #CDCDCD;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --color-dark-light: #545454;
    --color-dark: #292929;
    --color-dark-italic: #B2B2B2;
}
* {
    margin: 0;
}
body {
    background-color: var(--color-dark-light);
    box-sizing: border-box;
    margin: 0;
}
body.active {
    overflow: hidden;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
h1 {
    font-family: Georgia;
    font-style: normal;
    font-size: 44px;
    line-height: 130%;
}
h2 {
    font-family: Georgia;
    font-style: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 2.1px;
}
button,
a {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 1.02px;
    text-decoration: none;
    color: var(--color-dark);
    transition: 0.2s linear;
}
li {
    list-style-type: none
}
p {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}
.shadow {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0,0,0,0.5);
}

/* Header style start */

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 30px;

}
.header__logo > a > p:nth-child(1) {
    display: block;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
    margin-bottom: 10px;
}
.header__logo > a > p:nth-child(2) {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: var(--color-white);
    margin-left: 5px;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.header__nav {
    position: relative;
    z-index: 200;
}
.header__nav-items {
    display: flex;
    flex-wrap: wrap;
    margin-right: 2px;
    margin-bottom: 5px;
}
.header__nav-items-item {
    margin-right: 35px;
}
.header__nav-items-item:nth-child(4) {
    margin-right: 0px;
}
.header__nav-items-item > a {
    font-family: 'Arial';
    font-size: 15px;
    line-height: 24px;
    color: var(--color-gray);
}
.header__nav-items-item > a:hover {
    color: var(--color-white-hover)
}
.header__nav-items-item:nth-child(1) a {
    color: var(--color-white-hover)
}
.header__nav-items-item:nth-child(1) a::after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--color-primary);
    transition: 0.2s linear;;
}
.header__lines {
    display: none;
}

/* Header style end */

/* Not only style start */

.not-only {
    background: url(../img/bg__header.png) no-repeat;
    background-size: cover;
}
.not-only__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 180px;
}
.not-only__left {
    max-width: 460px;
    margin-top: 163px;
}
.not-only__left h1 {
    max-width: 310px;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-white);
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.not-only__left p:nth-child(2) {
    color: var(--color-gray);
    padding: 42px 0px 42px 0px;
}
.not-only__left a:nth-child(3) {
    display: block;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark);
    background: var(--color-primary);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 207px;
    border-radius: 26px;
    transition: all 0.2s linear;
    cursor: pointer;
}
.not-only__left a:nth-child(3):hover {
    background-color: var(--color-primary-light);
}
.not-only__right img {
    max-width: 100%;
}

/* Not only style end */

/* About style start */

.about {
    background-color: var(--color-white);
}
.about__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 80px 175px 100px 175px;
}
.about__left {
    max-width: 300px;
}
.about__left img {
    max-width: 100%;
}
.about__right {
    max-width: 430px;
    margin-top: 15px;
}
.about__right h2 {
    max-width: 360px;
    color: var(--color-dark-light);
}
.about__right p {
    color: #4C4C4C;
}
.about__right p:nth-child(2) {
    margin-top: 25px;
    margin-bottom: 25px;
}
.about__rihgt-desc-1 {
    margin: 25px 0px 25px 0px;
}

/* About style end */

/* Our friends style start */

.our-friends {
    background-color: var(--color-white-light);
}
.our-friends__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 100px;
    position: relative;
}
.our-friends__title {
    margin-bottom: 60px;
}
.our-friends__title h2 {
    color: var(--color-dark-light);
    text-align: center;
    max-width: 400px;
    letter-spacing: 0.06em;
}
.our-friends__cards {
    max-width: 990px;
    margin-bottom: 60px;
    overflow: hidden;
}
.our-friends__cards-slider {
    display: flex;
}
.our-friends__cards-card {
    background-color: var(--color-white-hover);
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s linear;
}
.our-friends__cards-slider {
    transition: 0.5s ease;
}
.our-friends__cards-card:last-child {
    margin-right: 0px m !important;
}
.our-friends__cards-card:hover {
    background: var(--color-white);
}
.our-friends__cards-card-pic img {
    max-width: 270px;
    min-height: 270px;
    object-fit: cover;
    border-radius: 9px 9px 0px 0px;
}
.our-friends__cards-card-text h2 {
    font-size: 20px;
    color: var(--color-dark-light);
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.our-friends__cards-card-text a {
    display: block;
    font-size: 17px;
    letter-spacing: 0.06em;
    width: 187px;
    margin: 0 auto 30px;
    padding: 15px 0;
    color: var(--color-dark);
    background-color: var(--color-white-hover);
    border: 2px solid var(--color-primary);
    border-radius: 26px;
    cursor: pointer;
    text-align: center;
}
.our-friends__cards-card:hover .our-friends__cards-card-text a {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}
.our-friends__button a {
    color: var(--color-dark);
    padding: 15px 45px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 26px;
    cursor: pointer;
}
.our-friends__button a:hover {
    background-color: var(--color-primary-light);
}
.arrow__block span {
    width: 50px;
    height: 50px;
    background-size: 14px 6px;
    border: 2px solid var(--color-primary);
    border-radius: 26px;
    cursor: pointer;
    position: absolute;
    transition: 0.2s linear;
}
.arrow__block span:nth-child(1) {
    background: url(../img/our-friends__arrow-left.svg) no-repeat;
    background-position: center;
    left: 0px;
    top: 419px;
}
.arrow__block span:nth-child(1).remove {
    opacity: 0.2;
    cursor: default;
}
.arrow__block span:hover:nth-child(1) {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}
.arrow__block span:nth-child(2) {
    background: url(../img/our-friends__arrow-right.svg) no-repeat;
    background-position: center;
    right: 0px;
    top: 419px;
}
.arrow__block span:nth-child(2).remove {
    opacity: 0.2;
    cursor: default;
}
.arrow__block span:hover:nth-child(2) {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}
.our-friends__modal {
    position: relative;
    display: none;
    justify-content: center;
    z-index: 500;
}
.our-friends__modal.active {
    display: flex;
}
.our-friends__modal__wrapper {
    display: flex;
    position: fixed;
    top: 20%;
    max-width: 800px;
    border-radius: 9px;
    background-color: var(--color-white-hover);
}
.our-friends__modal-pic {
    width: 400px;
}
.our-friends__modal-pic img {
    width: 100%;
    min-height: 350px;
    object-fit: cover;
    border-radius: 9px 0px 0px 9px;
}
.our-friends__modal-text {
    width: 400px;
    padding: 10px 10px 0px 10px;
}
.our-friends__modal-title h2 {
    font-size: 35px;
    color: var(--color-dark-light);
    margin-bottom: 10px;
}
.our-friends__modal-title p {
    font-family: Georgia;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.8px;
    color: var(--color-dark-light)
}
.our-friends__modal-desc p {
    font-family: Georgia;
    font-size: 15px;
    color: var(--color-dark-light);
    margin-bottom: 20px;
    margin-top: 20px;
}
.our-friends__modal-desc ul {
    padding-left: 20px;
    list-style: disc;
}
.our-friends__modal-desc ul li {
    list-style: disc;
    font-family: Georgia;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--color-dark-light);
    letter-spacing: 0.9px;
}
.our-friends__modal-desc ul li span {
    font-weight: 400;
}
.our-friends__modal-desc ul li:last-child {
    margin-bottom: 0px;
}
.our-friends__modal-desc ul li::marker {
    color: var(--color-primary);
}
.our-friends__modal-close {
    position: absolute;
    top: -53px;
    right: -45px;
    width: 52px;
    height: 52px;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s linear;
}
.our-friends__modal-close:hover {
    border-color: var(--color-primary-light);
    background-color: var(--color-primary-light);
}
.our-friends__modal-close span {
    position: absolute;
    top: 25px;
    left: 16px;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--color-dark);
}
.our-friends__modal-close span:nth-child(1) {
    transform: rotate(45deg);
}
.our-friends__modal-close span:nth-child(2) {
    transform: rotate(-45deg);
}

/* Our friends style end */

/* Help style start */

.help {
    background-color: var(--color-white);
}
.help__wrapper {
    padding: 80px 0px 100px 0px;
}
.help__title {
    max-width: 315px;
    margin: 0 auto 50px;
}
.help__title h2 {
    color: var(--color-dark-light);
    text-align: center;
    letter-spacing: 0.06em;
}
.help__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    max-width: 1030px;
    margin: 0 auto;
    row-gap: 55px;
    column-gap: 120px;
}
.help__items-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.help__items-item-pic {
    margin-bottom: 30px;
}
.help__items-item-pic img {
    max-width: 100%;
}
.help__items-item-text p {
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-light);
}

/* Help style end */

/* In addition style start */

.in-addition {
    background-color: var(--color-white-light);
}
.in-addition__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 80px 0px 100px 0px;
}
.in-addition__left-pic {
    margin-right: 30px;
}
.in-addition__left-pic img {
    max-width: 100%;
}
.in-addition__right {
    max-width: 380px;
}
.in-addition__right-title {
    max-width: 300px;
    margin-bottom: 20px;
}
.in-addition__right-title h2 {
    color: var(--color-dark-light);
}
.in-addition__right-text p:nth-child(1) {
    font-family: 'Georgia';
    color: var(--color-dark-light);
    margin-bottom: 20px;
    letter-spacing: 0.9px;
}
.in-addition__right-text a:nth-child(2) {
    font-size: 20px;
    padding: 10px 15px 10px 60px;
    border-radius: 9px;
    cursor: pointer;
    color: var(--color-dark-light);
    background-image: url(../img/in-addition__right-card-pic.svg);
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-color: var(--color-primary);
}
.in-addition__right-text a:hover:nth-child(2) {
    background-color: var(--color-primary-light);
}
.in-addition__right-text p:nth-child(3) {
    font-family: 'Arial';
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: var(--color-dark-italic);
    margin-top: 20px;

}

/* In addition style end */

/* Footer style start */

.footer {
    background: url(../img/footer-bg.png) no-repeat;
    background-size: cover;
}
.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
}
.footer__start {
    max-width: 280px;
}
.footer__center {
    max-width: 302px;
}
.footer__start-title,
.footer__center-title {
    margin-bottom: 40px;
}
.footer__start-title h2,
.footer__center-title h2 {
    color: var(--color-white);
}
.footer__start-text a:nth-child(1),
.footer__start-text a:nth-child(2),
.footer__center-text a:nth-child(1),
.footer__center-text a:nth-child(2) {
    display: block;
    font-size: 20px;
    color: var(--color-primary);
    letter-spacing: 1.2px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer__start-text a:hover:nth-child(1),
.footer__start-text a:hover:nth-child(2),
.footer__center-text a:hover:nth-child(1),
.footer__center-text a:hover:nth-child(2) {
    color: var(--color-primary-light);
}
.footer__start-text a:nth-child(1) {
    padding-left: 60px;
    background: url(../img/footer__start-text-pic-mail.svg) no-repeat;
    background-position: left center;
    margin-bottom: 30px;
}
.footer__start-text a:nth-child(2) {
    padding-left: 60px;
    background: url(../img/footer__start-text-pic-phone.svg) no-repeat;
    background-position: left center;
}
.footer__center-text a:nth-child(1) {
    padding-left: 42px;
    background: url(../img/footer__start-text-pic-point.svg) no-repeat;
    background-position: left center;
    margin-bottom: 30px;
}
.footer__center-text a:nth-child(2) {
    padding-left: 42px;
    background: url(../img/footer__start-text-pic-point.svg) no-repeat;
    background-position: left center;
}
.footer__end-pic img {
    max-width: 100%;
}
.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    transform: translateX(100%);
    transition: 0.2s linear;
    opacity: 0;
    z-index: 100;
}
.overlay.active {
    transform: translateX(0%);
    opacity: 1;
}
.shadow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
}
.shadow.active {
    display: block;
}

/* Footer style end */

/* Adaptive style start */

@media all and (max-width: 1200px) {
    .wrapper {
        margin-right: 30px;
        margin-left: 30px;
    }
    .not-only__wrapper {
        align-items: center;
    }
    .not-only__left {
        margin-top: 0px;
    }
    .about__wrapper {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        padding: 80px 0px 100px 0px;
    }
    .about__left {
        margin-right: 70px;
    }
    .our-friends__cards {
        max-width: 630px;
    }
    .arrow__block span:nth-child(1) {
        left: 20%;
        top: initial;
        bottom: 85px;
    }
    .arrow__block span:nth-child(2) {
        right: 20%;
        top: initial;
        bottom: 85px;
    }
    .in-addition__wrapper {
        flex-wrap: initial;
    }
}
@media all and (max-width: 970px) {
    .footer__wrapper {
        justify-content: space-around;
    }
    .footer__end-pic {
        margin-top: 20px;
    }
    .not-only__left p:nth-child(2) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .our-friends__modal__wrapper {
        max-width: 630px;
    }
    .our-friends__modal-pic {
        max-width: 350px
    }
    .our-friends__modal-text {
        width: 280px;
    }
    .our-friends__modal-desc p {
        font-size: 13px;
    }
}

@media all and (max-width: 769px) {
    .header__nav-items-item {
        margin-right: 20px;
    }
    .not-only {
        background: url(../img/not-only__bg-768.png) no-repeat;
        background-size: cover;
    }
    .not-only__wrapper {
        flex-direction: column;
        padding-top: 150px;
    }
    .not-only__left {
        margin-bottom: 100px;
    }
    .not-only__left p:nth-child(2) {
        padding-top: 42px;
        padding-bottom: 42px;
    }
    .not-only__left a:nth-child(3) {
        margin: 0 auto;
    }
    .not-only__right {
        max-width: 569px;
        align-self: end;
    }
    .about__wrapper {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
    }
    .about__left {
        order: 2;
        margin: 0 auto;
    }
    .our-friends {
        margin-top: -1px;
    }
    .about__right {
        order: 1;
        margin-top: 0px;
        margin-bottom: 80px;
    }
    .our-friends__cards {
        max-width: 580px;
    }
    .arrow__block span:nth-child(1) {
        left: 12%;
    }
    .arrow__block span:nth-child(2) {
        right: 12%;
    }
    .help {
        margin-top: -1px;
    }
    .help__items {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        justify-content: space-between;
        max-width: 630px;
        column-gap: 60px;
        row-gap: 55px;
    }
    .in-addition {
        margin-top: -1px;
    }
    .in-addition__wrapper {
        flex-direction: column;
    }
    .in-addition__left {
        order: 2;
        margin-right: 0px;
    }
    .in-addition__right {
        order: 1;
        margin-bottom: 60px;
    }
    .footer {
        background: url(../img/footer__bg-768.png) no-repeat;
        background-size: cover;
    }
    .footer__wrapper {
        padding-top: 30px;
    }
    .footer__end-pic {
        margin-top: 65px;
    }
}
@media all and (max-width: 731px) {
    .header__nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100%;
        background-color: var(--color-dark);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        opacity: 0;
        transition: 0.4s ease;

    }
    .header__nav.active {
        transform: translateX(0%);
        opacity: 1;
    }
    .header__nav.active {
        transform: translateX(0%);
    }
    .header__nav-items {
        flex-direction: column;
    }
    .header__nav-items-item {
        margin-right: 0px;
        margin-bottom: 40px;
        text-align: center;
    }
    .header__nav-items-item:last-child {
        margin-bottom: 0px;
    }
    .header__nav-items-item a {
        font-size: 32px;
    }
    .header__nav-items-item:nth-child(1) a::after {
        margin-top: 10px;
    }
    .header__lines {
        display: block;
        position: absolute;
        top: 20px;
        right: 0px;
        width: 30px;
        height: 22px;
        transition: 0.4s ease;
        z-index: 300;
    }
    .header__lines.active {
        transform: rotate(90deg);
    }
    .header__lines span {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--color-primary);
    }
    .header__lines span:nth-child(1) {
        top: 0px;
    }
    .header__lines span:nth-child(2) {
        top: 48%;
    }
    .header__lines span:nth-child(3) {
        bottom: 0px;
    }
    .our-friends__modal__wrapper {
        max-width: 350px;
        flex-direction: column;
        top: 10%;
    }
    .our-friends__modal-pic img {
        border-radius: 9px 9px 0px 0px;
    }
    .our-friends__modal-text {
        width: 350px;
        padding: 10px 20px 15px 20px;
        box-sizing: border-box
    }
}
@media all and (max-width: 600px) {
    .help__items {
        justify-content: center;
        column-gap: 20px;
    }
    .help__items-item-text p {
        text-align: center;
    }
    .our-friends__cards {
        max-width: 270px;
    }
    .arrow__block span:nth-child(1) {
        left: 0%;
    }
    .arrow__block span:nth-child(2) {
        right: 0%;
    }
    .arrow__block span:nth-child(2) {
        right: 0%;
    }
    .footer__start {
        margin-bottom: 30px;
    }
    .our-friends__modal__wrapper {
        top: 20%;
    }
    .our-friends__modal-pic img {
        display: none;
    }
}
@media all and (max-width: 491px) {
    .not-only__left h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 35px;
    }
    .not-only__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .not-only__right {
        max-width: 400px;
    }
    .about__wrapper {
        padding: 42px 0px 42px 0px;
    }
    .about__right {
        margin-bottom: 42px;
    }
    .about__right h2 {
        text-align: center;
        margin: 0 auto;
    }
    .our-friends__wrapper {
        padding-top: 42px;
        padding-bottom: 50px;
    }
    .our-friends__title {
        margin-bottom: 42px;
    }
    .our-friends__cards {
        margin-bottom: 120px;
    }
    .arrow__block span:nth-child(1) {
        left: 18%;
        bottom: 112px;
    }
    .arrow__block span:nth-child(2) {
        right: 18%;
        bottom: 112px;
    }
    .help__wrapper {
        padding-top: 42px;
        padding-bottom: 42px;
    }
    .help__title {
        margin-bottom: 42px;
    }
    .help__items {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(5, auto);
        justify-content: space-around;
        row-gap: 30px;
    }
    .in-addition__wrapper {
        padding-top: 42px;
        padding-bottom: 42px;
    }
    .in-addition__left-pic {
        display: block;
        margin: 0 auto;
    }
    .in-addition__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer__start-title h2,
    .footer__center-title h2 {
        text-align: center;
    }
    .our-friends__modal__wrapper {
        max-width: 240px;
    }
    .our-friends__modal-text {
        width: 240px;
    }
}
@media all and (max-width: 420px) {
    .arrow__block span:nth-child(1) {
        left: 18%;
    }
    .arrow__block span:nth-child(2) {
        right: 18%;
    }
    .in-addition__right-text a:nth-child(2) {
        font-size: 14px;
    }
    .our-friends__modal-close {
        top: -60px;
        right: -22px;
    }
}
@media all and (max-width: 334px) {
    .in-addition__right-text a:nth-child(2) {
        font-size: 13px;
    }
}
@media all and (max-width: 320px) {
    .wrapper {
        margin-right: 20px;
        margin-left: 20px;
    }
    h2 {
        font-size: 25px;
    }
    .not-only__left h1 {
        font-size: 30px;
    }
    .not-only__right {
        max-width: 260px;
    }
    .about__left {
        max-width: 260px;
    }
    .arrow__block span:nth-child(1) {
        left: 0%;
    }
    .arrow__block span:nth-child(2) {
        right: 0%;
    }
    .help__items-item-text p {
        font-size: 15px;
    }
    .help__items-item-pic {
        max-width: 50px;
    }
    .in-addition__right-title {
        max-width: 235px;
    }
    .in-addition__right-title h2 {
        letter-spacing: 1.5px;
    }
    .in-addition__right {
        margin-bottom: 42px;
    }
    .footer__end-pic {
        max-width: 260px;
    }
}

/* Adaptive style end */