/* noto-serif-georgian-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Serif Georgian';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-serif-georgian-v23-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/noto-serif-georgian-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-serif-georgian-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-serif-georgian-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-serif-georgian-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-serif-georgian-v23-latin-regular.svg#NotoSerifGeorgian') format('svg'); /* Legacy iOS */
  }
  /* noto-serif-georgian-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Serif Georgian';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/noto-serif-georgian-v23-latin-500.eot'); /* IE9 Compat Modes */
    src: url('../fonts/noto-serif-georgian-v23-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-serif-georgian-v23-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-serif-georgian-v23-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-serif-georgian-v23-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-serif-georgian-v23-latin-500.svg#NotoSerifGeorgian') format('svg'); /* Legacy iOS */
  }
  /* noto-serif-georgian-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Serif Georgian';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/noto-serif-georgian-v23-latisn-600.eot'); /* IE9 Compat Modes */
    src: url('../fonts/noto-serif-georgian-v23-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-serif-georgian-v23-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-serif-georgian-v23-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-serif-georgian-v23-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-serif-georgian-v23-latin-600.svg#NotoSerifGeorgian') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-georgian-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans Georgian';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-sans-georgian-v36-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/noto-sans-georgian-v36-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-georgian-v36-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-georgian-v36-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-georgian-v36-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-georgian-v36-latin-regular.svg#NotoSansGeorgian') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-georgian-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans Georgian';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/noto-sans-georgian-v36-latin-500.eot'); /* IE9 Compat Modes */
    src: url('../fonts/noto-sans-georgian-v36-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-georgian-v36-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-georgian-v36-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-georgian-v36-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-georgian-v36-latin-500.svg#NotoSansGeorgian') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-georgian-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Noto Sans Georgian';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/noto-sans-georgian-v36-latin-600.eot'); /* IE9 Compat Modes */
    src: url('../fonts/noto-sans-georgian-v36-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-georgian-v36-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-georgian-v36-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-georgian-v36-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-georgian-v36-latin-600.svg#NotoSansGeorgian') format('svg'); /* Legacy iOS */
  }

:root {
    --color-white: #FFFFFF;
    --color-white-light: #F6F6F6;
    --color-white-hover: #FAFAFA;
    --color-gray: #CDCDCD;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --color-dark-light: #545454;
    --color-dark: #292929;
    --color-dark-italic: #B2B2B2;
}
* {
    margin: 0;
}
body {
    background-color: var(--color-dark-light);
    box-sizing: border-box;
    margin: 0;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
h1 {
    font-family: Georgia;
    font-style: normal;
    font-size: 44px;
    line-height: 130%;
}
h2 {
    font-family: Georgia;
    font-style: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 2.1px;
}
button,
a {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 1.02px;
    text-decoration: none;
    color: var(--color-dark);
    transition: 0.2s linear;
}
li {
    list-style-type: none
}
p {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}
.shadow {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0,0,0,0.5);
}

/* Header style start */

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 30px;
    z-index: 5;
}
.header__logo > a > p:nth-child(1) {
    display: block;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
    margin-bottom: 10px;
}
.header__logo > a > p:nth-child(2) {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: var(--color-white);
    margin-left: 5px;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.header__nav-items {
    display: flex;
    flex-wrap: wrap;
    margin-right: 2px;
    margin-bottom: 5px;
}
.header__nav-items-item {
    margin-right: 35px;
}
.header__nav-items-item:nth-child(4) {
    margin-right: 0px;
}
.header__nav-items-item > a {
    font-family: 'Arial';
    font-size: 15px;
    line-height: 24px;
    color: var(--color-gray);
}
.header__nav-items-item > a:hover {
    color: var(--color-white-hover)
}
.header__nav-items-item:nth-child(1) a {
    color: var(--color-white-hover)
}
.header__nav-items-item:nth-child(1) a::after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--color-primary);
    transition: 0.2s linear;;
}
.header__lines {
    display: none;
}

/* Header style end */

/* Not only style start */

.not-only {
    background: url(../img/bg__header.png) no-repeat;
    background-size: cover;
}
.not-only__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 180px;
}
.not-only__left {
    width: 460px;
    margin-top: 163px;
}
.not-only__left h1 {
    max-width: 310px;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-white);
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.not-only__left p:nth-child(2) {
    color: var(--color-gray);
    padding: 42px 0px 42px 0px;
}
.not-only__left a:nth-child(3) {
    display: block;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark);
    background: var(--color-primary);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 207px;
    border-radius: 26px;
    transition: all 0.2s linear;
    cursor: pointer;
}
.not-only__left a:nth-child(3):hover {
    background-color: var(--color-primary-light);
}
.not-only__right img {
    max-width: 100%;
}



/* Not only style end */

/* About style start */





.about {
    background-color: var(--color-white);
}
.about__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 80px 175px 100px 175px;

}
.about__left {
    max-width: 300px;
}
.about__left img {
    max-width: 100%;
}
.about__right {
    max-width: 430px;
    margin-top: 15px;
}
.about__right h2 {
    max-width: 360px;
    color: var(--color-dark-light);
}
.about__right p {
    color: #4C4C4C;
}
.about__right p:nth-child(2) {
    margin-top: 25px;
    margin-bottom: 25px;
}
.about__rihgt-desc-1 {
    margin: 25px 0px 25px 0px;
}

/* About style end */

/* Our friends style start */

.our-friends {
    background-color: var(--color-white-light);
}
.our-friends__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 100px;
    position: relative;
}
.our-friends__title {
    margin-bottom: 60px;
}
.our-friends__title h2 {
    color: var(--color-dark-light);
    text-align: center;
    max-width: 400px;
    letter-spacing: 0.06em;
}
.our-friends__cards {
    max-width: 990px;
    margin-bottom: 60px;
    overflow: hidden;
}
.our-friends__cards-slider {
    display: flex;
}
.our-friends__cards-card {
    background-color: var(--color-white-hover);
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s linear;
}
.our-friends__cards-slider {
    transition: 0.5s ease;
}
.our-friends__cards-card:last-child {
    margin-right: 0px m !important;
}
.our-friends__cards-card:hover {
    background: var(--color-white);
}
.our-friends__cards-card-pic img {
    max-width: 270px;
    max-height: 270px;
    object-fit: cover;
}
.our-friends__cards-card-text h2 {
    font-size: 20px;
    color: var(--color-dark-light);
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.our-friends__cards-card-text a {
    display: block;
    font-size: 17px;
    letter-spacing: 0.06em;
    width: 187px;
    margin: 0 auto 30px;
    padding: 15px 0;
    color: var(--color-dark);
    background-color: var(--color-white-hover);
    border: 2px solid var(--color-primary);
    border-radius: 26px;
    cursor: pointer;
    text-align: center;
}
.our-friends__cards-card:hover .our-friends__cards-card-text a {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}
.our-friends__button a {
    color: var(--color-dark);
    padding: 15px 45px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 26px;
    cursor: pointer;
}
.our-friends__button a:hover {
    background-color: var(--color-primary-light);
}
.arrow__block span {
    width: 50px;
    height: 50px;
    background-size: 14px 6px;
    border: 2px solid var(--color-primary);
    border-radius: 26px;
    cursor: pointer;
    position: absolute;
    transition: 0.2s linear;
}
.arrow__block span:nth-child(1) {
    background: url(../img/our-friends__arrow-left.svg) no-repeat;
    background-position: center;
    left: 0px;
    top: 419px;
}
.arrow__block span:hover:nth-child(1) {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}
.arrow__block span:nth-child(2) {
    background: url(../img/our-friends__arrow-right.svg) no-repeat;
    background-position: center;
    right: 0px;
    top: 419px;
}
.arrow__block span:hover:nth-child(2) {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}
/* .our-friends__modal {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 400px;
    width: 300px;
    height: 0px;
    opacity: 0;
    background-color: var(--color-dark);
    transition: height 0s linear, opacity 0.5s linear
}
.our-friends__modal.active {
    height: 300px;
    opacity: 1
} */



/* Our friends style end */

/* Help style start */

.help {
    background-color: var(--color-white);
}
.help__wrapper {
    padding: 80px 0px 100px 0px;
}
.help__title {
    max-width: 315px;
    margin: 0 auto 50px;
}
.help__title h2 {
    color: var(--color-dark-light);
    text-align: center;
    letter-spacing: 0.06em;
}
.help__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    max-width: 1030px;
    margin: 0 auto;
    row-gap: 55px;
    column-gap: 120px;
}
.help__items-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.help__items-item-pic {
    margin-bottom: 30px;
}
.help__items-item-pic img {
    max-width: 100%;
}
.help__items-item-text p {
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-light);
}

/* Help style end */

/* In addition style start */

.in-addition {
    background-color: var(--color-white-light);
}
.in-addition__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 80px 0px 100px 0px;
}
.in-addition__left-pic {
    margin-right: 30px;
}
.in-addition__left-pic img {
    max-width: 100%;
}
.in-addition__right {
    max-width: 380px;
}
.in-addition__right-title {
    max-width: 300px;
    margin-bottom: 20px;
}
.in-addition__right-title h2 {
    color: var(--color-dark-light);
}
.in-addition__right-text p:nth-child(1) {
    font-family: 'Georgia';
    color: var(--color-dark-light);
    margin-bottom: 20px;
    letter-spacing: 0.9px;
}
.in-addition__right-text a:nth-child(2) {
    font-size: 20px;
    padding: 10px 15px 10px 60px;
    border-radius: 9px;
    cursor: pointer;
    color: var(--color-dark-light);
    background-image: url(../img/in-addition__right-card-pic.svg);
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-color: var(--color-primary);
}
.in-addition__right-text a:hover:nth-child(2) {
    background-color: var(--color-primary-light);
}
.in-addition__right-text p:nth-child(3) {
    font-family: 'Arial';
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: var(--color-dark-italic);
    margin-top: 20px;

}

/* In addition style end */

/* Footer style start */

.footer {
    background: url(../img/footer-bg.png) no-repeat;
    background-size: cover;
}
.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
}
.footer__start {
    max-width: 280px;
}
.footer__center {
    max-width: 302px;
}
.footer__start-title,
.footer__center-title {
    margin-bottom: 40px;
}
.footer__start-title h2,
.footer__center-title h2 {
    color: var(--color-white);
}
.footer__start-text a:nth-child(1),
.footer__start-text a:nth-child(2),
.footer__center-text a:nth-child(1),
.footer__center-text a:nth-child(2) {
    display: block;
    font-size: 20px;
    color: var(--color-primary);
    letter-spacing: 1.2px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer__start-text a:hover:nth-child(1),
.footer__start-text a:hover:nth-child(2),
.footer__center-text a:hover:nth-child(1),
.footer__center-text a:hover:nth-child(2) {
    color: var(--color-primary-light);
}
.footer__start-text a:nth-child(1) {
    padding-left: 60px;
    background: url(../img/footer__start-text-pic-mail.svg) no-repeat;
    background-position: left center;
    margin-bottom: 30px;
}
.footer__start-text a:nth-child(2) {
    padding-left: 60px;
    background: url(../img/footer__start-text-pic-phone.svg) no-repeat;
    background-position: left center;
}
.footer__center-text a:nth-child(1) {
    padding-left: 42px;
    background: url(../img/footer__start-text-pic-point.svg) no-repeat;
    background-position: left center;
    margin-bottom: 30px;
}
.footer__center-text a:nth-child(2) {
    padding-left: 42px;
    background: url(../img/footer__start-text-pic-point.svg) no-repeat;
    background-position: left center;
}
.footer__end-pic img {
    max-width: 100%;
}

/* Footer style end */

/* Adaptive style start */

@media all and (max-width: 1200px) {
    .wrapper {
        margin-right: 30px;
        margin-left: 30px;
    }
    .not-only__wrapper {
        align-items: center;
    }
    .not-only__left {
        margin-top: 0px;
    }
    .about__wrapper {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        padding: 80px 0px 100px 0px;
    }
    .about__left {
        margin-right: 70px;
    }
    .our-friends__cards {
        max-width: 630px;
    }
    .arrow__block span:nth-child(1) {
        left: 20%;
        top: initial;
        bottom: 85px;
    }
    .arrow__block span:nth-child(2) {
        right: 20%;
        top: initial;
        bottom: 85px;
    }
    .in-addition__wrapper {
        flex-wrap: initial;
    }
}
@media all and (max-width: 970px) {
    .footer__wrapper {
        justify-content: space-around;
    }
    .footer__end-pic {
        margin-top: 20px;
    }
}
/* @media screen and (max-width: 768px) {
    .wrapper {
        max-width: 768px;
    }
    .header__wrapper {
        max-width: 708px;
        top: 30px;
        left: 30px;
    }
    .header__nav-items {
        margin-right: 2px;
        margin-bottom: 3px;
    }
    .not-only__wrapper {
        flex-direction: column;
        align-items: center;
        padding: 150px 0px 0px 0px;
    }
    .not-only {
        background: url(../img/not-only__bg-768.png) no-repeat;
        background-size: cover;
    }
    .not-only__left {
        margin-top: 0px;
        margin-bottom: 100px;
    }
    .not-only__left-btn {
        margin: 0 auto;
    }
    .not-only__right {
        margin-left: 135px;
        width: 569px;
        height: 593px;
    }
    .not-only__right-img {
        width: 100%;
        height: 100%;
    }
    .about__wrapper {
        padding: 78px 0px 100px 0px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .about__left {
        margin: 0px;
    }
    .about__right {
        margin: 0px 0px 80px 0px;
    }
    .about__rihgt-desc-1 {
        margin: 25px 0px 24px 0px;
    }
    .our-friends__wrapper {
        padding: 78px 0px 100px 0px;
    }
    .our-friends__title {
        margin-bottom: 58px;
    }
    .our-friends__cards-card {
        margin: 0px;
    }
    .our-friends__cards-card-name {
        margin: 30px 0px 27px 0px;
    }
    .our-friends__cards-card-1 {
        margin-right: 20px;
    }
    .our-friends__cards-card-2 {
        margin-left: 20px;
    }
    .our-friends__cards-card-3 {
        display: none;
    }
    .our-friends__cards-arrow-left {
        left: 29px;
        top: 417px;
    }
    .our-friends__cards-arrow-right {
        right: 29px;
        top: 417px;
    }
    .help__wrapper {
        padding: 80px 69px 100px 69px;
    }
    .help__title {
        margin-bottom: 55px;
    }
    .help__items {
        gap: 50px 60px;
    }
    .help__items-item {
        max-width: 170px;
        width: 100%;
    }
    .in-addition__wrapper {
        flex-direction: column-reverse;
        padding: 82px 0px 100px 0px;

    }
    .in-addition__right {
        margin-bottom: 54px;
    }
    .in-addition__left {
        margin-top: 3px;
    }
    .footer {
        background: url(../img/footer__bg-768.png) no-repeat;
        background-size: cover;
    }
    .footer__wrapper {
        padding: 28px 64px 0px 64px
    }
    .footer__start {
        margin-top: 0px;
    }
    .footer__center {
        margin-top: 0px;
    }
    .footer__center-title {
        margin-bottom: 32px;
    }
    .footer__end {
        margin-top: 25px;
        margin-left: 170px;
    }
}
@media screen and (max-width: 767px) {
    .wrapper {
        max-width: 767px;
    }
    .header__nav {
        display: none;
    }
    .header__lines {
        display: block;
        width: 30px;
        height: 22px;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .header__lines-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--color-primary);
        position: absolute;
    }
    .first-line {
        top: 0px;
    }
    .second-line {
        top: 50%;
    }
    .third-line {
        bottom: 0px;
    }
    .header__nav {
        display: block;
        width: 320px;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        background: var(--color-dark);
        transform: translateX(100%);
        transition: 0.2s linear;
    }
    .header__nav-active {
        transform: translateX(0%)
    }
    .header__nav-items {
        display: inline-block;
        text-align: center;
        padding: 248px 38px 248px 38px;
    }
    .header__nav-item {
        margin: 0px 0px 40px 0px;
        cursor: pointer;
    }
    .header__nav-item:last-child {
        margin-bottom: 0px;
    }
    .header__nav-item-link {
        font-size: 32px;
        line-height: 160%;
    }
    .burger {
        transform: rotate(0deg);
        transition: 0.2s linear;
    }
}
@media screen and (max-width: 320px) {
    .wrapper {
        max-width: 320px;
    }
    .header__wrapper {
        max-width: 290px;
        top: 30px;
        left: 20px;
    }
    .header__logo-desc {
        margin-left: 4px;
    }
    .header__lines {
        top: 18px;
        right: 11px;
    }
    .not-only {
        background: url(../img/not-only__bg-320.png) no-repeat;
        background-size: cover;
    }
    .not-only__wrapper {
        padding: 148px 10px 0px 10px;
    }

    .not-only__left {
        max-width: 300px;
    }
    .not-only__left-title {
        text-align: center;
        font-size: 25px;
        margin-right: 35px;
        margin-left: 35px;
        letter-spacing: 0.06em;
    }
    .not-only__left-desc {
        text-align: center;
    }
    .not-only__right {
        margin: 5px 0px 0px 39px;
        width: 260px;
        height: 271.7px;
    }
    .about__wrapper {
        padding: 42px 10px 42px 10px;;
    }
    .about__left {
        width: 260px;
        height: 353px;
    }
    .about__left-img {
        max-width: 100%;
        max-height: 100%;
    }
    .about__right {
        margin: 0px;
    }
    .about__right-title {
        font-size: 25px;
        text-align: center;
        margin-right: 20px;
        margin-left: 20px;

    }
    .about__rihgt-desc {
        margin-right: 15px;
        margin-left: 15px;
        text-align: justify;
    }
    .about__rihgt-desc-1 {
        margin-top: 25px;
        margin-bottom: 21px;
    }
    .about__right-desc-2 {
        margin-bottom: 42px;
    }

    .our-friends__wrapper {
        padding: 42px 10px 42px 10px;;
    }
    .our-friends__title {
        font-size: 25px;
        line-height: 130%;
        margin-bottom: 41px;
    }
    .our-friends__cards {
        margin-bottom: -1px;
    }
    .our-friends__cards-card-1 {
        margin: 0px auto 114px auto;
    }
    .our-friends__cards-card-name {
        margin: 30px 0px 28px 0px;
    }
    .our-friends__cards-card-2 {
        display: none;
    }
    .our-friends__cards-arrow-left {
        left: 67px;
        top: 602px;
    }
    .our-friends__cards-arrow-right {
        right: 67px;
        top: 602px;
    }
    .help__wrapper {
        padding: 42px 15px 42px 15px;
    }
    .help__title {
        padding: 0px 30px 37px 30px;
        margin: 0px;
        font-size: 25px;
    }
    .help__items {
        gap: 26px 30px;
        justify-content: start;
    }
    .help__items-item {
        max-width: 130px;
        width: 100%;
    }
    .help__items-item-title {
        font-size: 15px;
        line-height: 110%;
    }
    .help__items-item-pic {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
    }
    .in-addition__wrapper {
        padding: 39px 10px 42px 10px;
    }
    .in-addition__right {
        margin-bottom: 38px;
    }
    .in-addition__right-title {
        font-size: 25px;
        text-align: center;
        margin: 0px 40px 19px 40px;
    }
    .in-addition__right-desc {
        line-height: 160%;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 22px;
    }
    .in-addition__right-card {
        margin-right: 9px;
        margin-left: 9px;
    }
    .in-addition__right-foot {
        margin-right: 10px;
        margin-left: 10px;
        text-align: justify;
    }
    .in-addition__right-card-num {
        font-size: 15px;
        line-height: 110%;
    }
    .in-addition__left {
        width: 260px;
        height: 135px;
    }
    .in-addition__left-img {
        max-width: 100%;
        max-height: 100%;
    }

    .footer {
        background: url(../img/footer__bg-320.png) no-repeat;
        background-size: cover;
    }
    .footer__wrapper {
        padding: 30px 10px 0px 10px;
        flex-direction: column;
        align-items: center;
    }
    .footer__start {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-bottom: -1px;
    }
    .footer__start-title,
    .footer__center-title {
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        margin-right: 20px;
        margin-left: 20px;
    }
    .footer__center-title {
        margin-bottom: 39px;
    }
    .footer__center-text {
        margin-bottom: 37px;
    }
    .footer__end {
        margin: 0px;
        width: 260px;
        height: 269px;
    }
    .footer__end-pic {
        max-width: 100%;
        max-height: 100%;
    }
} */

/* Adaptive style end */