:root {
    --color-white: #FFFFFF;
    --color-white-light: #F6F6F6;
    --color-white-hover: #FAFAFA;
    --color-gray: #CDCDCD;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --color-dark-light: #545454;
    --color-dark: #292929;
    --color-dark-italic: #B2B2B2;
}
* {
    margin: 0;
}
body {
    background-color: var(--color-dark-light);
    box-sizing: border-box;
    margin: 0;
}
body.active {
    overflow: hidden;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
h1 {
    font-family: Georgia;
    font-style: normal;
    font-size: 44px;
    line-height: 130%;
}
h2 {
    font-family: Georgia;
    font-style: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 2.1px;
}
button,
a {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 1.02px;
    text-decoration: none;
    color: var(--color-dark);
    transition: 0.2s linear;
}
li {
    list-style-type: none
}
p {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

/* Header style start */

.header {
    background: var(--color-white);
}
.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 30px 0px;
}

.header__logo a p:nth-child(1) {
    display: block;
    font-family: 'Georgia';
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: 0.06em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-dark-light);
    margin-bottom: 10px;
}
.header__logo a p:nth-child(2) {
    font-family: 'Arial';
    font-size: 13px;
    line-height: 15px;
    color: var(--color-dark);
    margin-left: 4px;
    letter-spacing: 0.1em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}
.header__nav {
    position: relative;
    z-index: 300;
}
.header__nav-items {
    display: flex;
}
.header__nav-items-item {
    margin-right: 35px;
}
.header__nav-items-item:last-child {
    margin-right: 0px;
}
.header__nav-items-item:nth-child(2) a {
    cursor: default;
}
.header__nav-items-item:nth-child(2)::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--color-primary);
}
.header__nav-items-item a {
    font-family: 'Arial';
    font-size: 15px;
    color: var(--color-dark-light);
}
.header__nav-items-item a:hover {
    color: var(--color-dark)
}
.header__lines {
    display: none;
}
.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    transform: translateX(100%);
    transition: 0.2s linear;
    opacity: 0;
    z-index: 200;
}
.overlay.active {
    transform: translateX(0%);
    opacity: 1;
}

/* Header style end */

/* Our friends style start */

.our-friends {

    background: #F6F6F6;
}
.our-friends__wrapper {
    background: #F6F6F6;
    padding: 80px 40px 100px 40px;
}
.our-friends__title {
    margin: 0 auto;
    max-width: 400px;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: center;
    margin-bottom: 60px;
}
.our-friends__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 435px 435px;
    justify-content: center;
    column-gap: 40px;
    row-gap: 30px;
}
.our-friends__items-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.2s linear;
}
.our-friends__items-item:hover {
    background-color: #FFFFFF;
}
.our-friends__items-item:hover .our-friends__items-item-btn {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}
.our-friends__items-item-pic {
    margin-bottom: 30px;
}
.our-friends__items-item-name {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
}
.our-friends__items-item-btn {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    padding: 12px 45px;
    background-color: #FAFAFA;
    border: 2px solid #F1CDB3;
    border-radius: 26px;
    cursor: pointer;
    transition: 0.2s linear;
}
.our-friends__num {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 400px;
    margin-top: 60px;
}
.our-friends__num-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;
}


/* Our friends style end */


/* Footer style start */

.footer {
    background: url(../../img/footer-bg.png) no-repeat;
    background-size: cover;
}
.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
}
.footer__start {
    max-width: 280px;
}
.footer__center {
    max-width: 302px;
}
.footer__start-title,
.footer__center-title {
    margin-bottom: 40px;
}
.footer__start-title h2,
.footer__center-title h2 {
    color: var(--color-white);
    font-weight: 400;
}
.footer__start-text a:nth-child(1),
.footer__start-text a:nth-child(2),
.footer__center-text a:nth-child(1),
.footer__center-text a:nth-child(2) {
    display: block;
    font-size: 20px;
    color: var(--color-primary);
    letter-spacing: 1.2px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer__start-text a:hover:nth-child(1),
.footer__start-text a:hover:nth-child(2),
.footer__center-text a:hover:nth-child(1),
.footer__center-text a:hover:nth-child(2) {
    color: var(--color-primary-light);
}
.footer__start-text a:nth-child(1) {
    padding-left: 60px;
    background: url(../../img/footer__start-text-pic-mail.svg) no-repeat;
    background-position: left center;
    margin-bottom: 30px;
}
.footer__start-text a:nth-child(2) {
    padding-left: 60px;
    background: url(../../img/footer__start-text-pic-phone.svg) no-repeat;
    background-position: left center;
}
.footer__center-text a:nth-child(1) {
    padding-left: 42px;
    background: url(../../img/footer__start-text-pic-point.svg) no-repeat;
    background-position: left center;
    margin-bottom: 30px;
}
.footer__center-text a:nth-child(2) {
    padding-left: 42px;
    background: url(../../img/footer__start-text-pic-point.svg) no-repeat;
    background-position: left center;
}
.footer__end-pic img {
    max-width: 100%;
    margin-bottom: -4px;
}

/* Footer style end */

/* Adaptive style start */


@media all and (max-width: 1200px) {
    .wrapper {
        margin-right: 30px;
        margin-left: 30px;
    }
}
@media all and (max-width: 970px) {
    .footer__wrapper {
        justify-content: space-around;
    }
    .footer__end-pic {
        margin-top: 20px;
    }
}
@media all and (max-width: 769px) {
    .header__nav-items-item {
        margin-right: 20px;
    }
    
    
    
    
    
    .footer {
        background: url(../../img/footer__bg-768.png) no-repeat;
        background-size: cover;
    }
    .footer__wrapper {
        padding-top: 30px;
    }
    .footer__end-pic {
        margin-top: 65px;
    }
}
@media all and (max-width: 731px) {
    .header__nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100%;
        background-color: var(--color-white-light);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        opacity: 0;
        transition: 0.4s ease;

    }
    .header__nav.active {
        transform: translateX(0%);
        opacity: 1;
    }
    .header__nav-items {
        flex-direction: column;
        padding-left: 0px;
    }
    .header__nav-items-item {
        margin-right: 0px;
        margin-bottom: 40px;
        text-align: center;
    }
    .header__nav-items-item a {
        font-size: 32px;
    }
    .header__lines {
        display: block;
        position: absolute;
        top: 50px;
        right: 0px;
        width: 30px;
        height: 22px;
        transition: 0.4s ease;
        z-index: 300;
    }
    .header__lines.active {
        transform: rotate(90deg);
    }
    .header__lines span {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--color-dark);
    }
    .header__nav-items-item:nth-child(2)::after {
        margin: 0 auto;
        width: 60%;
    }
    .header__lines span:nth-child(1) {
        top: 0px;
    }
    .header__lines span:nth-child(2) {
        top: 48%;
    }
    .header__lines span:nth-child(3) {
        bottom: 0px;
    }

}
@media all and (max-width: 600px) {
    .footer__start {
        margin-bottom: 30px;
    }
    .footer__start-title h2,
    .footer__center-title h2 {
        text-align: center;
    }
}
@media all and (max-width: 491px) {
    h2 {
        font-size: 35px;
    }

}
@media all and (max-width: 320px) {
    .footer__end-pic {
        max-width: 260px;
    }
}


/* Adaptive style end */