:root {
    --color-white: #FFFFFF;
    --color-white-light: #F6F6F6;
    --color-white-hover: #FAFAFA;
    --color-gray: #CDCDCD;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --color-dark-light: #545454;
    --color-dark: #292929;
    --color-dark-italic: #B2B2B2;
}
* {
    margin: 0;
}
body {
    background-color: var(--color-dark-light);
    box-sizing: border-box;
    margin: 0;
}
body.active {
    overflow: hidden;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
h1 {
    font-family: Georgia;
    font-style: normal;
    font-size: 44px;
    line-height: 130%;
}
h2 {
    font-family: Georgia;
    font-style: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 2.1px;
    font-weight: 400;
}
button,
a {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 1.02px;
    text-decoration: none;
    color: var(--color-dark);
    transition: 0.2s linear;
}
li {
    list-style-type: none
}
p {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

/* Header style start */

.header {
    background: var(--color-white);
}
.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 30px 0px;
}
.header__logo a p:nth-child(1) {
    display: block;
    font-family: 'Georgia';
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: 0.06em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-dark-light);
    margin-bottom: 10px;
}
.header__logo a p:nth-child(2) {
    font-family: 'Arial';
    font-size: 13px;
    line-height: 15px;
    color: var(--color-dark);
    margin-left: 4px;
    letter-spacing: 0.1em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}
.header__nav {
    position: relative;
    z-index: 300;
}
.header__nav-items {
    display: flex;
}
.header__nav-items-item {
    margin-right: 35px;
}
.header__nav-items-item:last-child {
    margin-right: 0px;
}
.header__nav-items-item:nth-child(2) a {
    cursor: default;
}
.header__nav-items-item:nth-child(2)::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--color-primary);
}
.header__nav-items-item a {
    font-family: 'Arial';
    font-size: 15px;
    color: var(--color-dark-light);
}
.header__nav-items-item a:hover {
    color: var(--color-dark)
}
.header__lines {
    display: none;
}
.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    transform: translateX(100%);
    transition: 0.2s linear;
    opacity: 0;
    z-index: 200;
}
.overlay.active {
    transform: translateX(0%);
    opacity: 1;
}

/* Header style end */

/* Our friends style start */

.our-friends {
    background: var(--color-white-light);
}
.our-friends__wrapper {
    padding: 80px 0px 100px 0px;
}
.our-friends__title {
    margin-bottom: 60px;
}
.our-friends__title h2 {
    display: block;
    color: var(--color-dark-light);
    margin: 0 auto;
    max-width: 470px;
    text-align: center;
}
.our-friends__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    column-gap: 40px;
    row-gap: 30px;
}
.our-friends__items-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-width: 270px;
    background: var(--color-white-hover);
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.2s linear;
}
.our-friends__items-item:hover {
    background-color: var(--color-white);
}
.our-friends__items-item:hover .our-friends__items-item-text a {
    background-color: var(--color-primary-light);
    border: 2px solid  var(--color-primary-light);
}
.our-friends__items-item-pic {
    max-width: 270px;
    min-height: 270px;
}
.our-friends__items-item-pic img {
    max-width: 100%;
    min-height: 100%;
    border-radius: 9px 9px 0px 0px;
    object-fit: cover;
}
.our-friends__items-item-text {
    margin-bottom: 40px;
}
.our-friends__items-item-text p {
    font-family: Georgia;
    font-size: 20px;
    letter-spacing: 1.2px;
    color: var(--color-dark-light);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 35px;
}
.our-friends__items-item-text a {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: var(--color-dark);
    padding: 12px 45px;
    background-color: var(--color-white-hover);
    border: 2px solid var(--color-primary);
    border-radius: 26px;
    cursor: pointer;
    transition: 0.2s linear;
}
.our-friends__modal {
    position: relative;
    display: none;
    justify-content: center;
    z-index: 600;
}
.our-friends__modal.active {
    display: flex;
}
.our-friends__modal__wrapper {
    display: flex;
    position: fixed;
    top: 20%;
    max-width: 800px;
    border-radius: 9px;
    background-color: var(--color-white-hover);
}
.our-friends__modal-pic {
    width: 400px;
    max-height: 350px;
}
.our-friends__modal-pic img {
    width: 100%;
    min-height: 390px;
    object-fit: cover;
    border-radius: 9px 0px 0px 9px;
}
.our-friends__modal-text {
    width: 400px;
    min-height: 380px;
    padding: 10px 10px 0px 10px;
}
.our-friends__modal-title h2 {
    font-size: 35px;
    color: var(--color-dark-light);
    margin-bottom: 10px;
}
.our-friends__modal-title p {
    font-family: Georgia;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.8px;
    color: var(--color-dark-light)
}
.our-friends__modal-desc p {
    font-family: Georgia;
    font-size: 15px;
    color: var(--color-dark-light);
    margin-bottom: 20px;
    margin-top: 20px;
}
.our-friends__modal-desc ul {
    padding-left: 20px;
    list-style: disc;
}
.our-friends__modal-desc ul li {
    list-style: disc;
    font-family: Georgia;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--color-dark-light);
    letter-spacing: 0.9px;
}
.our-friends__modal-desc ul li span {
    font-weight: 400;
}
.our-friends__modal-desc ul li:last-child {
    margin-bottom: 0px;
}
.our-friends__modal-desc ul li::marker {
    color: var(--color-primary);
}
.our-friends__modal-close {
    position: absolute;
    top: -53px;
    right: -45px;
    width: 52px;
    height: 52px;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s linear;
}
.our-friends__modal-close:hover {
    border-color: var(--color-primary-light);
    background-color: var(--color-primary-light);
}
.our-friends__modal-close span {
    position: absolute;
    top: 25px;
    left: 16px;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--color-dark);
}
.our-friends__modal-close span:nth-child(1) {
    transform: rotate(45deg);
}
.our-friends__modal-close span:nth-child(2) {
    transform: rotate(-45deg);
}
.shadow {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 500;
}
.shadow.active {
    display: block;
}

/* Our friends style end */

/* Footer style start */

.footer {
    background: url(../../img/footer-bg.png) no-repeat;
    background-size: cover;
}
.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
}
.footer__start {
    max-width: 280px;
}
.footer__center {
    max-width: 302px;
}
.footer__start-title,
.footer__center-title {
    margin-bottom: 40px;
}
.footer__start-title h2,
.footer__center-title h2 {
    color: var(--color-white);
    font-weight: 400;
}
.footer__start-text a:nth-child(1),
.footer__start-text a:nth-child(2),
.footer__center-text a:nth-child(1),
.footer__center-text a:nth-child(2) {
    display: block;
    font-size: 20px;
    color: var(--color-primary);
    letter-spacing: 1.2px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer__start-text a:hover:nth-child(1),
.footer__start-text a:hover:nth-child(2),
.footer__center-text a:hover:nth-child(1),
.footer__center-text a:hover:nth-child(2) {
    color: var(--color-primary-light);
}
.footer__start-text a:nth-child(1) {
    padding-left: 60px;
    background: url(../../img/footer__start-text-pic-mail.svg) no-repeat;
    background-position: left center;
    margin-bottom: 30px;
}
.footer__start-text a:nth-child(2) {
    padding-left: 60px;
    background: url(../../img/footer__start-text-pic-phone.svg) no-repeat;
    background-position: left center;
}
.footer__center-text a:nth-child(1) {
    padding-left: 42px;
    background: url(../../img/footer__start-text-pic-point.svg) no-repeat;
    background-position: left center;
    margin-bottom: 30px;
}
.footer__center-text a:nth-child(2) {
    padding-left: 42px;
    background: url(../../img/footer__start-text-pic-point.svg) no-repeat;
    background-position: left center;
}
.footer__end-pic img {
    max-width: 100%;
    margin-bottom: -4px;
}

/* Footer style end */

/* Adaptive style start */

@media all and (max-width: 1200px) {
    .wrapper {
        margin-right: 30px;
        margin-left: 30px;
    }
    .our-friends__items {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, 1fr);
        justify-content: space-evenly;
    }
}
@media all and (max-width: 970px) {
    .footer__wrapper {
        justify-content: space-around;
    }
    .footer__end-pic {
        margin-top: 20px;
    }
    .our-friends__modal__wrapper {
        max-width: 630px;
    }
    .our-friends__modal-pic {
        max-width: 350px
    }
    .our-friends__modal-text {
        width: 280px;
    }
    .our-friends__modal-desc p {
        font-size: 13px;
    }
}
@media all and (max-width: 769px) {
    .header__nav-items-item {
        margin-right: 20px;
    }
    .footer {
        background: url(../../img/footer__bg-768.png) no-repeat;
        background-size: cover;
    }
    .footer__wrapper {
        padding-top: 30px;
    }
    .footer__end-pic {
        margin-top: 65px;
    }
}
@media all and (max-width: 731px) {
    .header__nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100%;
        background-color: var(--color-white-light);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        opacity: 0;
        transition: 0.4s ease;
    }
    .header__nav.active {
        transform: translateX(0%);
        opacity: 1;
    }
    .header__nav-items {
        flex-direction: column;
        padding-left: 0px;
    }
    .header__nav-items-item {
        margin-right: 0px;
        margin-bottom: 40px;
        text-align: center;
    }
    .header__nav-items-item a {
        font-size: 32px;
    }
    .header__lines {
        display: block;
        position: absolute;
        top: 50px;
        right: 0px;
        width: 30px;
        height: 22px;
        transition: 0.4s ease;
        z-index: 300;
    }
    .header__lines.active {
        transform: rotate(90deg);
    }
    .header__lines span {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--color-dark);
    }
    .header__nav-items-item:nth-child(2)::after {
        margin: 0 auto;
        width: 60%;
    }
    .header__lines span:nth-child(1) {
        top: 0px;
    }
    .header__lines span:nth-child(2) {
        top: 48%;
    }
    .header__lines span:nth-child(3) {
        bottom: 0px;
    }
    .our-friends__modal__wrapper {
        max-width: 350px;
        flex-direction: column;
        top: 10%;
    }
    .our-friends__modal-pic img {
        border-radius: 9px 9px 0px 0px;
    }
    .our-friends__modal-text {
        width: 350px;
        min-height: initial;
        padding: 10px 20px 15px 20px;
        box-sizing: border-box
    }
}
@media all and (max-width: 600px) {
    .our-friends__items {
        grid-template-columns: auto;
        grid-template-rows: repeat(8, 1fr);
    }
    .footer__start {
        margin-bottom: 30px;
    }
    .footer__start-title h2,
    .footer__center-title h2 {
        text-align: center;
    }
    .our-friends__modal__wrapper {
        top: 20%;
    }
    .our-friends__modal-pic img {
        display: none;
    }
}
@media all and (max-width: 491px) {
    .wrapper {
        margin-right: 20px;
        margin-left: 20px;
    }
    h2 {
        font-size: 35px;
    }
    .our-friends__modal__wrapper {
        max-width: 240px;
    }
    .our-friends__modal-text {
        width: 240px;
    }
}
@media all and (max-width: 420px) {
    .our-friends__modal-close {
        top: -60px;
        right: -22px;
    }
}
@media all and (max-width: 320px) {
    h2 {
        font-size: 25px;
    }
    .footer__end-pic {
        max-width: 260px;
    }
}

/* Adaptive style end */